.titile{
    color: white;
}
.row{
    margin-top: 20px;
}
.fondo{
    background-color: rgb(105, 13, 13);
    height:130px ;
    border-radius: 15px;
    cursor: pointer;
  

}
.btn{
    background-color: rosybrown;
    width: 100%;
    cursor: pointer;
}
.btn:hover{
    background-color:   rgb(104, 77, 77);
    width: 101%;
}
.icono{
    width: 100%;
    color: rgb(137, 137, 137);
    margin: 0 30px;
    font-size: 100px;
}
.MOSCULINO{
   
    color: rgb(137, 137, 137);
    margin: 0 25px;
    
}
b{
    font-size: 35px;
    font-weight: 800;

}
.altura{
    margin-bottom: -15px;
}
.number{
    font-size: 25px;
    width: 10;
    height: 25px;
    color: wheat;
    margin: 0 auto;
}
.botones{
    color: aliceblue;
    font-size: 35px;
    cursor: pointer;
    background-color: rgb(175, 9, 81) ;
    padding: 7px;
    gap: 4px;
    margin-left: 3px;
}
i{
    margin-left: 25px;
   
}
.sexoActivado{
    background-color: rgb(177, 25, 25);
    border: 1px solid  rgb(96, 16, 16);

}